.bkgr-image{
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}
nav.navbar{
	background-color: transparent;
	border: transparent;
}
li a{
	color: white !important;
}

iframe{
	width:560px;
	height:315px; 
}
.img2{
	width: 70%;
}
.bkgr-blue{
	background-color: blue;
	height: 200px;
	margin-top: 30%;
}
.bkgr-foot-blue{
	background-color: black;
	height: 200px;
}